/* Elements */
nav.navbar{
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    font-size: 18px;
    transition: font-size ease .15s, height ease .3s;
}
nav.navbar.shrink {
    font-size:16px;
}
nav.navbar.shrink .navbar-brand{
    font-size: 25px;
}
body{
    font-size: 16px;
}
section {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
}
hr {
    max-width: 250px;
    border-top: solid 5px;
    margin: 25px auto 30px;
    color:#fff;
}
h1{
    color:#fff;
    font-size: 55px;
}
a{
    color: #2597f4;
}
a:hover{
    color: #2597f4;
}
p{
    font-size: 1.2em;
}
footer{
    color: #fff;
    background-color: #233140;
    padding-top: 15px;
    padding-bottom: 10px;
}
footer p{
    padding-top:10px;
    padding-bottom:10px;
}

/* Classes */
.navbar-brand{
    font-size: 35px;
}
.navbar-dark .navbar-nav li .nav-link,
.navbar-brand{
    color: #fff;
    transition: all ease .3s;
}
.navbar-dark .navbar-nav .nav-link.active{
    background-color: #2597f4;
    transition: all ease .3s;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #2597f4;
    transition: all ease .3s;
}
.navbar-dark .navbar-nav .nav-link.active:hover{
    color: #fff;
    background-color: #2597f4;
}
.jumbotron{
    margin-bottom: 0px;
    border-radius: 0px;
    color:#fff;
}
.jumbotron p {
    font-size: 1.3em;
}
.video{
    max-height: 641px;
    max-width: 1140px;
}
.card{
    border: 0px;
    border-radius: 5px;
}
.card-text{
    font-size: 1.2em;
}
.card-img-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.btn-circle{
    height: 60px;
    width:60px;
    border: 2px solid #2597f4;
    border-radius:100%;
    color: #2597f4;
}
.btn-circle:hover{
    background-color: #2597f4;
    color: #fff;
}

/* IDs */
#top {
    background: url(../img/top_right.svg) repeat left bottom,#0077c2;
    margin-top: 85px;
}
#top h1{
    padding-top: 0.8em;
    font-size: 4.8em;
}
#top p{
    font-size: 1.9em;
    font-weight: 300;
}
#aboutme {
    background-color: #159e82;
}
#aboutme p{
    font-size: 1.4em;
    margin-bottom: 0px;
}
#projects{
    background: url(../img/top_right.svg) repeat left bottom, #0077c2;
}
#contact {
    background-color: #2c3e50;
}
#contact .col-lg-6{
    padding-top: 0.63em;
    padding-bottom: 0.63em;
}
#contact a{
    font-size: 25px;
}
#contact p{
    color: #2597f4;
    font-size: 1.65em;
}
#btns a{
    margin-left: 0.63em;
}
@media screen and (max-width: 992px) {
    body{font-size: 14px;}
    #aboutme p{margin-bottom: 12px;}
}
